.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .emoji-holder {
        display: flex;
    }

    a {
        display: block;
    }
}

