.time-container, .Row, .Start, .Awake, .timer {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-top: 3rem; 
    font-family: 'Varela Round', sans-serif;
    p{
        display: flex;
        text-align: center; 
        font-size: 5rem;
    }
}

.StartTimer, .EndTimer, .LogTime{
    width: 45%;
    margin-top: 5rem;
    padding: 2rem;
    background-color: #b9aeea;
    border-color: #2F2079
}

.Row{
    display: flex;
    flex-direction: row; 
    .Start{
        padding-right:3rem;
    }
    .Awake{
        padding-left:3rem;
    }
}
